{namespace c=HDNET\Calendarize\ViewHelpers}

<f:alias map="{event: index.originalObject}">
	<h1>
		<f:render partial="{index.configuration.partialIdentifier}/Title" arguments="{index: index}"/>
		<c:titleTag><f:render partial="{index.configuration.partialIdentifier}/Title" arguments="{index: index}"/></c:titleTag>
	</h1>
	<h3 class="state-{index.state}">
		<f:if condition="{index.state}=='canceled'">
			<f:then>
				<f:translate key="canceled" />
			</f:then>
			<f:else>
				<f:render partial="DateInformation" arguments="{index: index}"/>
			</f:else>
		</f:if>
	</h3>

	<div class="text">
		<f:format.html>{event.description}</f:format.html>
	</div>

	<dl class="dl-horizontal meta">
		<f:if condition="{event.location}">
			<dt><f:translate key="tx_calendarize_domain_model_event.location" />:</dt>
			<dd>{event.location}</dd>
		</f:if>
		<f:if condition="{event.organizer}">
			<dt><f:translate key="tx_calendarize_domain_model_event.organizer" />:</dt>
			<dd>{event.organizer}</dd>
		</f:if>
	</dl>

	<f:if condition="{event.images}">
		<div class="images">
			<f:for each="{event.images}" as="image" iteration="i">
				<f:image src="{image.uid}" treatIdAsReference="1" alt="" maxWidth="300" class="img-rounded"/>
			</f:for>
		</div>
	</f:if>

	<f:if condition="{event.downloads}">
		<div class="downloads">
			<f:for each="{event.downloads}" as="download" iteration="i">
				<a href="{download.originalResource.publicUrl}">{download.originalResource.publicUrl}</a>
			</f:for>
		</div>
	</f:if>

	<f:if condition="{settings.bookingPid}">
		<f:if condition="{event.bookable}">
			<c:link.booking index="{index}" class="btn btn-default btn-primary">
				<f:translate key="booking"/>
				<span class="glyphicon glyphicon-arrow-right"></span>
			</c:link.booking>
		</f:if>
	</f:if>
</f:alias>

<c:ifExtensionLoaded extensionKey="microformat">
	<f:render partial="{index.configuration.partialIdentifier}/StructuredData/Detail" arguments="{index: index}"/>
</c:ifExtensionLoaded>
