{namespace c=HDNET\Calendarize\ViewHelpers}

<f:alias map="{event: index.originalObject}">
	<div class="panel panel-default state-{index.state}">
		<div class="panel-body">

			<div class="media calendarize-item">
				<f:for each="{event.images}" as="image" iteration="i">
					<f:if condition="{i.isFirst}">
						<c:link.index index="{index}">
							<f:image src="{image.uid}" treatIdAsReference="1" alt="" maxWidth="160" maxHeight="160" class="media-object img-rounded" />
						</c:link.index>
					</f:if>
				</f:for>

				<div class="media-body">
					<h2>
						<c:link.index index="{index}">
							<f:render partial="{index.configuration.partialIdentifier}/Title" arguments="{index: index}" />
						</c:link.index>
					</h2>
					<h4>
						<f:if condition="{index.state}=='canceled'">
							<f:then>
								<f:translate key="canceled" />
							</f:then>
							<f:else>
								<f:render partial="DateInformation" arguments="{index: index}"/>
							</f:else>
						</f:if>
					</h4>

					<p>
						<f:if condition="{event.abstract}">
							<f:then>
								<f:format.nl2br>{event.abstract}</f:format.nl2br>
							</f:then>
							<f:else>
								<f:format.crop maxCharacters="180" append="&nbsp;[...]">
									<f:format.stripTags>{event.description}</f:format.stripTags>
								</f:format.crop>
							</f:else>
						</f:if>
					</p>

					<f:if condition="{settings.detailPid}">
						<c:link.index index="{index}" class="btn btn-default btn-primary">
							<f:translate key="more"/>
							<span class="glyphicon glyphicon-arrow-right"></span>
						</c:link.index>
					</f:if>

					<f:if condition="{settings.bookingPid}">
						<f:if condition="{event.bookable}">
							<c:link.booking index="{index}" class="btn btn-default btn-primary">
								<f:translate key="booking" /> <span class="glyphicon glyphicon-arrow-right"></span>
							</c:link.booking>
						</f:if>
					</f:if>
				</div>
			</div>
		</div>
	</div>
</f:alias>
