{namespace c=HDNET\Calendarize\ViewHelpers}

<f:alias map="{event: index.originalObject}">
	<div class="panel panel-default">
		<div class="panel-body">

			<div class="media calendarize-item">
				<f:for each="{event.images}" as="image" iteration="i">
					<f:if condition="{i.isFirst}">
						<c:link.index index="{index}">
							<f:image src="{image.originalResource.publicUrl}" alt="" maxWidth="160" maxHeight="160" class="media-object img-rounded" />
						</c:link.index>
					</f:if>
				</f:for>

				<div class="media-body">
					<h2>
						<c:link.index index="{index}">
							<f:render partial="{index.configuration.partialIdentifier}/Title" arguments="{index: index}" />
						</c:link.index>
					</h2>
					<h4>
						<f:render partial="DateInformation" arguments="{index: index}" />
					</h4>

					<p>
						<f:format.crop maxCharacters="180" append="&nbsp;[...]">
							<f:format.stripTags>{event.description}</f:format.stripTags>
						</f:format.crop>
					</p>

					<c:link.index index="{index}" class="btn btn-default btn-primary">
						More <span class="glyphicon glyphicon-arrow-right"></span>
					</c:link.index>
				</div>
			</div>
		</div>
	</div>
</f:alias>