{namespace c=HDNET\Calendarize\ViewHelpers}
<!-- move to extension partial -->
<div class="form-group">
	<label for="calendarizeFullText"><f:translate key="search.text" extensionName="Calendarize" /></label>
	<f:form.textfield id="calendarizeFullText" name="customSearch[fullText]" value="{customSearch.fullText}" class="form-control" />
</div>

<f:if condition="{extended.categories}">
	Categories:
	<f:for each="{extended.categories}" as="category">
		<div class="form-check">
			<f:form.checkbox name="customSearch[categories][]" value="{category.uid}" id="categoryFilter-{category.uid}" class="form-check-input" checked="{c:inArray(needle: category.uid, haystack:customSearch.categories)}"/>
			<label for="categoryFilter-{category.uid}" class="form-check-label">{category.title}</label>
		</div>
	</f:for>
</f:if>
