# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[**.css]
indent_style = tab
indent_size = 2

[**.php]
indent_style = space
indent_size = 4

[**.html]
indent_style = tab
indent_size = 2

[**.ics]
insert_final_newline = false

[{*.rst,*.rst.txt}]
indent_style = space
indent_size = 3
max_line_length = 80

# MD-Files
[*.md]
indent_style = space
indent_size = 4
max_line_length = 80

# TypoScript
[*.{typoscript,tsconfig}]
indent_size = 2

# YAML-Files
[*.{yaml,yml}]
indent_size = 2
