/.idea/
/.Build/*
/.php_cs.cache
/var
.phpunit.result.cache
/.php-cs-fixer.cache
/.deptrac.cache
/composer.lock
/Build/testing-docker/.env

# ignore generated documentation
*GENERATED*
Tests/Unit/Build/.phpunit.cache/
