<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	data-namespace-typo3-fluid="true">

<f:form action="list" object="{options}" name="options">
	<div class="form-inline form-inline-spaced row row-cols-auto align-items-end">

		<f:comment>
			<div class="form-group col">
				<label class="form-label" for="sorting">Sorting</label>
				<f:form.select
					options="{start_date: 'start_date'}"
					class="form-control form-select"
					id="sorting"
					property="sorting"
				/>
			</div>
		</f:comment>

		<div class="form-group col">
			<label class="form-label" for="pid">
				<f:translate key="LLL:EXT:calendarize/Resources/Private/Language/locallang_mod.xlf:filter.page">Page</f:translate>
			</label>
			<f:form.select
				prependOptionLabel="All"
				prependOptionValue="-1"
				options="{pids}"
				class="form-control form-select"
				id="pid"
				property="pid"
			/>
		</div>

		<div class="form-group col">
			<label class="form-label" for="type">
				<f:translate key="LLL:EXT:calendarize/Resources/Private/Language/locallang_mod.xlf:filter.type">Type</f:translate>
			</label>
			<f:form.select
				prependOptionLabel="All"
				prependOptionValue=""
				options="{types}"
				class="form-control form-select"
				id="type"
				property="type"
			/>
		</div>

		<div class="form-group col">
			<label class="form-label" for="direction"><f:translate key="LLL:EXT:calendarize/Resources/Private/Language/locallang_mod.xlf:filter.sorting_direction">Sorting</f:translate></label>
			<f:form.select
				options="{filterOptions}"
				class="form-control form-select"
				id="direction"
				property="direction"
			/>
		</div>

		<div class="form-group col">
			<label for="startDate" class="form-label">
				<f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:from"/>
			</label>
			<div class="input-group">
				<f:form.textfield
					property="startDate"
					type="date"
					value="{f:format.date(format:'Y-m-d', date: '{options.startDate}')}"
					class="form-control"
					id="startDate"
				/>
			</div>
		</div>

		<div class="form-group col">
			<label for="endDate" class="form-label">
				<f:translate key="LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:to"/>
			</label>
			<div class="input-group">
				<f:form.textfield
					property="endDate"
					type="date"
					value="{f:format.date(format:'Y-m-d', date: '{options.endDate}')}"
					class="form-control"
					id="endDate"
				/>
			</div>
		</div>

		<div class="col form-group">
			<f:form.submit value="{f:translate(key: 'LLL:EXT:calendarize/Resources/Private/Language/locallang_mod.xlf:filter_save')}" class="btn btn-secondary"/>
		</div>
	</div>
</f:form>
</html>
