<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
			xmlns:c="http://typo3.org/ns/HDNET/Calendarize/ViewHelpers"
			data-namespace-typo3-fluid="true">

<tr>
	<td>
		<core:iconForRecord table="{index.foreignTable}" row="{uid: index.originalObject.uid}" />
		<f:render partial="{index.configuration.partialIdentifier}/Title" arguments="{index: index}" />
	</td>
	<td>
		<f:render partial="DateInformation" arguments="{index: index}"/>
	</td>
	<td>
		{index.configuration.uniqueRegisterKey}
	</td>
	<td>
		<c:languageInformation languageUid="{index.sysLanguageUid}" pid="{index.pid}" />
	</td>
	<td>
		{index.foreignUid}
	</td>
	<td>
		<a class="btn btn-default"
			 href="{c:editRecord(parameters: 'edit[{index.configuration.tableName}][{index.foreignUid}]=edit')}">
			<core:icon identifier="actions-document-open"/>
		</a>
	</td>
</tr>
</html>
