<f:if condition="{searchMode}">
	<f:render partial="Event/SearchInformation" arguments="{searchParameter: searchParameter, indices: indices}" />
</f:if>

<f:if condition="{indices -> f:count()}">
	<f:then>
		<f:if condition="{settings.hidePagination}">
			<f:then>
				<f:for each="{indices}" as="index">
					<f:render partial="{index.configuration.partialIdentifier}/ListItem" arguments="{index: index}" />
				</f:for>
			</f:then>
			<f:else>
				<f:if condition="{settings.paginateConfiguration.insertAbove -> f:or(alternative:0)}">
					<f:render partial="Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator, searchMode: searchMode}" />
				</f:if>
				<f:for each="{pagination.paginator.paginatedItems}" as="index">
					<f:render partial="{index.configuration.partialIdentifier}/ListItem" arguments="{index: index}" />
				</f:for>
				<f:if condition="{settings.paginateConfiguration.insertBelow -> f:or(alternative:1)}">
					<f:render partial="Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator, searchMode: searchMode}" />
				</f:if>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<f:translate key="no_events" />
	</f:else>
</f:if>

