<f:if condition="{searchMode}">
	<f:render partial="Event/SearchInformation" arguments="{searchParameter: searchParameter, indices: indices}" />
</f:if>

<f:if condition="{indices -> f:count()}">
	<f:then>
		<f:if condition="{settings.hidePagination}">
			<f:then>
				<f:for each="{indices}" as="index">
					<f:render partial="{index.configuration.partialIdentifier}/ListItem" arguments="{index: index}" />
				</f:for>
			</f:then>
			<f:else>
				<f:widget.paginate objects="{indices}" as="paginatedIndices" configuration="{settings.paginateConfiguration}">
					<f:for each="{paginatedIndices}" as="index">
						<f:render partial="{index.configuration.partialIdentifier}/ListItem" arguments="{index: index}" />
					</f:for>
				</f:widget.paginate>
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<f:translate key="no_events" />
	</f:else>
</f:if>

