<ul class="f3-widget-paginator">
	<f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
		<f:then>
			<f:comment>
				<li class="first">
					<f:render section="PaginationLink" arguments="{actionName:actionName, page: 1, title: '{f:translate(key:\'pagination.first\')}', searchMode:searchMode}" contentAs="content">
						first_page
					</f:render>
				</li>
			</f:comment>
			<li class="previous">
				<f:render section="PaginationLink" arguments="{actionName:actionName, page: pagination.previousPageNumber, title: '{f:translate(key:\'pagination.previous\')}', searchMode:searchMode}" contentAs="content">
					{f:translate(key:'widget.pagination.previous', extensionName: 'fluid')}
				</f:render>
			</li>
		</f:then>
		<f:else>
			<f:comment>
				<li class="disabled"><span><i class="material-icons">first_page</i></span></li>
				<li class="disabled"><span>{f:translate(key:'widget.pagination.previous', extensionName: 'fluid')}</span></li>
			</f:comment>
		</f:else>
	</f:if>
	<f:if condition="{pagination.hasLessPages}">
		<li>…</li>
	</f:if>
	<f:for each="{pagination.allPageNumbers}" as="page">
		<f:if condition="{page} == {paginator.currentPageNumber}">
			<f:then>
				<li class="current">{page}</li>
			</f:then>
			<f:else>
				<li>
					<f:render section="PaginationLink" arguments="{actionName:actionName, page: page, title: page, searchMode:searchMode}" contentAs="content">
						{page}
					</f:render>
				</li>
			</f:else>
		</f:if>
	</f:for>
	<f:if condition="{pagination.hasMorePages}">
		<li>…</li>
	</f:if>
	<f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
		<f:then>
			<li class="next">
				<f:render section="PaginationLink" arguments="{actionName:actionName, page: pagination.nextPageNumber, title: '{f:translate(key:\'pagination.next\')}', searchMode:searchMode}" contentAs="content">
					{f:translate(key:'widget.pagination.next', extensionName: 'fluid')}
				</f:render>
			</li>
			<f:comment>
				<li class="last">
					<f:render section="PaginationLink" arguments="{actionName:actionName, page: pagination.lastPageNumber, title: '{f:translate(key:\'pagination.last\')}', searchMode:searchMode}" contentAs="content">
						last
					</f:render>
				</li>
			</f:comment>
		</f:then>
		<f:else>
			<f:comment>
				<li class="disabled"><span>{f:translate(key:'widget.pagination.next', extensionName: 'fluid')}</span></li>
				<li class="disabled"><span>last page</span></li>
			</f:comment>
		</f:else>
	</f:if>
</ul>

<f:section name="PaginationLink">
	<f:if condition="{searchMode}">
		<f:then>
			<a href="#"
				 title="{title}"
				 onclick="if(document.getElementById('calendarizePage')){document.getElementById('calendarizePage').value={page};document.getElementById('calendarizeSearchForm').submit();return false;}">
				{content}
			</a>
		</f:then>
		<f:else>
			<a href="{f:uri.action(action:actionName, arguments:{currentPage: page})}"
				 title="{title}">
				{content}
			</a>
		</f:else>
	</f:if>
</f:section>
