<html
	xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:schema="http://typo3.org/ns/Brotkrueml/Schema/ViewHelpers"
	schema:schemaLocation="https://brot.krue.ml/schemas/schema-1.9.0.xsd"
	xmlns:c="http://typo3.org/ns/HDNET/Calendarize/ViewHelpers"
	data-namespace-typo3-fluid="true"
>
<f:comment>
	StructuredData Markup
	https://developers.google.com/search/docs/data-types/event
	http://schema.org/Event

	Test Utility
	https://search.google.com/structured-data/testing-tool
	https://search.google.com/test/rich-results
</f:comment>

<f:alias map="{event: index.originalObject}">
<schema:type.event
	-isMainEntityOfWebPage="1"
	name="{event.title}"
	description="{f:render(section: 'EventDescription', arguments: {event: event})}"
	url='<c:uri.index index="{index}" absolute="true"/>'
	startDate='{index.startDateComplete -> f:format.date(format: "c")}'
	endDate='{index.endDateComplete -> f:format.date(format: "c")}'
>
	<f:if condition="{index.state}=='canceled'">
		<schema:property -as="eventStatus" value="EventCancelled" />
	</f:if>
	<f:if condition="{event.images.0}">
		<schema:type.imageObject -as="image" caption="{event.images.0.originalResource.title}" url="{f:uri.image(image: '{event.images.0}', absolute: 1)}" />
	</f:if>
	<f:if condition="{event.location}">
		<schema:property -as="location" value="{event.location}" />
	</f:if>
	<f:if condition="{event.organizer}">
		<schema:type.organization -as="organizer" name="{event.organizer}" url="{event.organizerLink}"/>
	</f:if>
</schema:type.event>
</f:alias>


<f:comment>
	Section: EventDescription

	The EventDescription is the abstract or a part of the description.
	To build a condition-block for the viewHelper-attribute, the outsourcing in sections comes handy.
</f:comment>
<f:section name="EventDescription">
	<f:if condition="{event.abstract}">
		<f:then>{event.abstract}</f:then>
		<f:else><f:format.crop maxCharacters="180" append=" [...]"><f:format.stripTags>{event.description}</f:format.stripTags></f:format.crop></f:else>
	</f:if>
</f:section>
</html>
