{namespace c=HDNET\Calendarize\ViewHelpers}
{namespace m=HDNET\Microformat\ViewHelpers}

<f:comment>
	EXT:microformat

	StructuredData Markup
	https://support.google.com/webmasters/answer/3227638?hl=de
	http://schema.org/Event

	Test Utility
	https://search.google.com/structured-data/testing-tool
</f:comment>

<f:alias map="{event: index.originalObject}">
<m:format.jsonLd showInHead="1" jsonPrettyPrint="0">
	<m:microformat.event
		name="{event.title}"
		description="{f:render(section: 'EventDescription', arguments: {event: event})}"
		url='<c:uri.index index="{index}" absolute="true"/>'
		startDate='{index.startDateComplete -> f:format.date(format: "Y-m-d H:i")}'
		endDate='{index.endDateComplete -> f:format.date(format: "Y-m-d H:i")}'
	>

		<f:if condition="{event.images.0}">
			<m:microformat.imageObject key="image" caption="{event.images.0.originalResource.title}" url='{f:uri.page(pageUid: "{event.images.0.originalResource.publicUrl}", absolute: 1)}'></m:microformat.imageObject>
		</f:if>
		<f:if condition="{event.location}">
				<m:microformat.Place key="location" name="{event.location}" />
		</f:if>
		<f:if condition="{event.organizer}">
				<m:microformat.Organization key="organizer" name="{event.organizer}" />
		</f:if>
	</m:microformat.event>
</m:format.jsonLd>
</f:alias>


<f:comment>
	Section: EventDescription

	The EventDescription is the abstract or a part of the description.
	To build a condition-block for the viewHelper-attribute, the outsourcing in sections comes handy.
</f:comment>
<f:section name="EventDescription"><m:format.trim>
	<f:if condition="{event.abstract}">
		<f:then>{event.abstract}</f:then>
		<f:else><f:format.crop maxCharacters="180" append=" [...]"><f:format.stripTags>{event.description}</f:format.stripTags></f:format.crop></f:else>
	</f:if>
</m:format.trim></f:section>
