<f:layout name="Default" />

<f:section name="Main">

	<f:format.date format="d.m.Y">{previous}</f:format.date>
	previous day Link

	<h1>
		<f:format.date format="d.m.Y">{today}</f:format.date>
	</h1>

	<f:if condition="{indices}">
		<f:then>
			<f:for each="{indices}" as="index">
				<f:render partial="{index.configuration.partialIdentifier}/ListItem" arguments="{index: index}" />
			</f:for>
		</f:then>
		<f:else>
			<f:translate key="noEvents.day" />
		</f:else>
	</f:if>

	<f:format.date format="d.m.Y">{next}</f:format.date>
	next day Link

</f:section>