<f:layout name="Default" />

<f:section name="Main">


	<f:widget.paginate objects="{indices}" as="paginatedIndices" configuration="{itemsPerPage: 10, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 10}">
		<ul>
			<f:for each="{paginatedIndices}" as="index">
				<li>
					<f:link.action action="detail" arguments="{index: index}">
						<f:render partial="{index.configuration.partialIdentifier}/Title" arguments="{index: index}" />
						<f:render partial="DateInformation" arguments="{index: index}" />
					</f:link.action>
				</li>
			</f:for>
		</ul>
	</f:widget.paginate>


</f:section>