<f:layout name="Default" />

<f:section name="Main">

	<f:link.action action="year">Year</f:link.action>
	<f:link.action action="month">Month</f:link.action>
	<f:link.action action="week">Week</f:link.action>
	<f:link.action action="day">Day</f:link.action>


	<f:widget.paginate objects="{indices}" as="paginatedIndices" configuration="{itemsPerPage: 10, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 10}">
		<ul>
			<f:for each="{paginatedIndices}" as="index">
				<li>
					<f:render partial="{index.configuration.partialIdentifier}/ListItem" arguments="{index: index}" />
				</li>
			</f:for>
		</ul>
	</f:widget.paginate>


</f:section>