{namespace c=HDNET\Calendarize\ViewHelpers}
<f:layout name="Default" />

<f:section name="Main">
	<table boder="1">
		<thead>
			<tr>
				<td colspan="7">
					<f:format.date format="F Y">{date}</f:format.date>
				</td>
			</tr>
		</thead>
		<tbody>
			<c:loop.weeksInMonth date="{date}" iteration="week">

				<f:debug>{week.calendarDate}</f:debug>
				<tr>
					<c:loop.daysInWeek date="{week.calendarDate}" iteration="day">
						<td>
							<f:format.date format="d.m.Y">{day.calendarDate}</f:format.date>
						</td>
					</c:loop.daysInWeek>
				</tr>
			</c:loop.weeksInMonth>
		</tbody>
	</table>
</f:section>