<f:form pageUid="{settings.listPid}">
	<div class="form-group">
		<label for="calendarizeStartDate">Start date</label>
		<f:form.textfield name="startDate" id="calendarizeStartDate" value="{startDate -> f:format.date(format: settings.dateFormat)}" />
	</div>
	<div class="form-group">
		<label for="calendarizeEndDate">End date</label>
		<f:form.textfield name="endDate" id="calendarizeEndDate" value="{endDate -> f:format.date(format: settings.dateFormat)}" />
	</div>

	<f:for each="{configurations}" as="configuration">
		<f:render partial="{configuration.partialIdentifier}/Search" arguments="{customSearch: customSearch}" />
	</f:for>

	<button type="submit" class="btn btn-primary">Search</button>
</f:form>