<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:c="http://typo3.org/ns/HDNET/Calendarize/ViewHelpers">

	<f:layout name="Default" />

	<f:section name="Main">
		<table class="table table-bordered">
			<thead>
			<tr>
				<th colspan="4">

					<f:if condition="{settings.yearPid}">
						<f:if condition="{c:ifDateUpper(base: settings.dateLimitBrowserPrev, check:{date -> c:dateTime.modify(modification: 'first day of last year')})}">
							<c:link.year pageUid="{settings.yearPid}" date="{date -> c:dateTime.modify(modification: 'first day of last year')}">
								&lt;
							</c:link.year>
						</f:if>
					</f:if>

					<f:format.date format="Y">{date}</f:format.date>

					<f:if condition="{settings.yearPid}">
						<f:if condition="{c:ifDateLower(base: settings.dateLimitBrowserNext, check:{date -> c:dateTime.modify(modification: 'first day of next year')})}">
							<c:link.year pageUid="{settings.yearPid}" date="{date -> c:dateTime.modify(modification: 'first day of next year')}">
								&gt;
							</c:link.year>
						</f:if>
					</f:if>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<c:loop.monthsInYear date="{date}" iteration="year">
					<td>
						<f:render partial="Month" arguments="{date: year.calendar.date, indices:indices, ignoreSelectedDay: year.calendar.ignoreSelectedDay}" />
					</td>
					{f:if(condition: '{year.calendar.break3} == 0', then: '</tr><tr>')}
				</c:loop.monthsInYear>
			</tr>
			</tbody>
		</table>
	</f:section>
</div>

