{namespace c=HDNET\Calendarize\ViewHelpers}

<time class="momentJs" datetime="{index.startDateComplete -> f:format.date(format: 'c')}" data-language="{c:language()}" data-format="{f:if(condition: index.allDay, then: 'LL', else: 'LLL')}">{index.startDateComplete -> f:format.date(format: 'c')}</time>

<f:if condition="{index.startDate -> f:format.date(format: 'd.m.Y')} == {index.endDate -> f:format.date(format: 'd.m.Y')}">
	<f:then></f:then>
	<f:else>
		- <time class="momentJs" datetime="{index.endDateComplete -> f:format.date(format: 'c')}" data-format="LL">{index.endDateComplete -> f:format.date(format: 'c')}</time>
	</f:else>
</f:if>

<f:if condition="{index.allDay}">
	<f:then>
		<f:translate key="all_day" />
	</f:then>
	<f:else>
		<f:if condition="{index.openEndTime}">
			<f:then>
				<f:if condition="{index.startDate -> f:format.date(format: 'd.m.Y')} == {index.endDate -> f:format.date(format: 'd.m.Y')}">
					-
				</f:if>
				<f:translate key="open_end" />
			</f:then>
			<f:else>
				<f:if condition="{index.startDate -> f:format.date(format: 'd.m.Y')} == {index.endDate -> f:format.date(format: 'd.m.Y')}">
					-
				</f:if>
				<time class="momentJs" datetime="{index.endDateComplete -> f:format.date(format: 'c')}" data-format="LT">{index.endDateComplete -> f:format.date(format: 'c')}</time>
			</f:else>
		</f:if>
	</f:else>
</f:if>
