# coding: utf-8

[general]
project = Calendarize
copyright = since 2014 by Tim Lochmüller & Contributors


[html_theme_options]
github_branch = master
github_repository = lochmueller/calendarize

project_contact = tim@fruit-lab.de
project_discussions =
project_home = https://github.com/lochmueller/calendarize
project_issues = https://github.com/lochmueller/calendarize/issues
project_repository = https://github.com/lochmueller/calendarize

[intersphinx_mapping]

# ----------------
# official manuals
# ----------------

# h2document     = https://docs.typo3.org/m/typo3/docs-how-to-document/master/en-us/
# t3contribute   = https://docs.typo3.org/m/typo3/guide-contributionworkflow/master/en-us/
t3coreapi      = https://docs.typo3.org/m/typo3/reference-coreapi/master/en-us/
# t3docteam      = https://docs.typo3.org/m/typo3/team-t3docteam/master/en-us/
# t3editors      = https://docs.typo3.org/m/typo3/tutorial-editors/master/en-us/
# t3extbase      = https://docs.typo3.org/m/typo3/guide-extbasefluid/master/en-us/
# t3extbasebook  = https://docs.typo3.org/m/typo3/book-extbasefluid/master/en-us/
# t3install      = https://docs.typo3.org/m/typo3/guide-installation/master/en-us/
# t3l10n         = https://docs.typo3.org/m/typo3/guide-frontendlocalization/master/en-us/
# t3start        = https://docs.typo3.org/m/typo3/tutorial-getting-started/master/en-us/
# t3sitepackage  = https://docs.typo3.org/m/typo3/tutorial-sitepackage/master/en-us/
# t3tca          = https://docs.typo3.org/m/typo3/reference-tca/master/en-us/
# t3templating   = https://docs.typo3.org/m/typo3/tutorial-templating/master/en-us/
# t3ts45         = https://docs.typo3.org/m/typo3/tutorial-typoscript-in-45-minutes/master/en-us/
# t3tsconfig     = https://docs.typo3.org/m/typo3/reference-tsconfig/master/en-us/
# t3tsref        = https://docs.typo3.org/m/typo3/reference-typoscript/master/en-us/
# t3vhref        = https://docs.typo3.org/other/typo3/view-helper-reference/master/en-us/

# ----------------
# system extension
# ----------------

# ckedit         = https://docs.typo3.org/c/typo3/cms-rte-ckeditor/master/en-us/
# core           = https://docs.typo3.org/c/typo3/cms-core/master/en-us/
# form           = https://docs.typo3.org/c/typo3/cms-form/master/en-us/
# fsc            = https://docs.typo3.org/c/typo3/cms-fluid-styled-content/master/en-us/
# sched          = https://docs.typo3.org/c/typo3/cms-scheduler/master/en-us/
