<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
		 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
		 xmlns:c="http://typo3.org/ns/HDNET/Calendarize/ViewHelpers">

	<f:layout name="Default"/>

	<!-- Call a "c" View Helper here, to avaoid the removing of the xmlns delaration in the top
			because PhpStorm do not know the Fluid short syntax! -->
	<c:link.day date=""/>

	<f:section name="Main">

		<f:if condition="{settings.bookingPid}">
			<f:then>
				<f:render partial="BookingInformation" arguments="{index:index}"/>

				<f:form actionUri="{c:uri.index(index:index, pageUid: settings.bookingPid)}" name="request">
					<f:form.hidden name="action" value="send"/>
					<f:form.hidden name="index" value="{index.uid}"/>
					<fieldset>
						<label>
							<f:translate key="booking.firstName" extensionName="Calendarize"/>
							*
							<f:render partial="FieldError" arguments="{field: 'request.firstName'}"/>
						</label>
						<f:form.textfield property="firstName"/>

						<label>
							<f:translate key="booking.lastName" extensionName="Calendarize"/>
							*
							<f:render partial="FieldError" arguments="{field: 'request.lastName'}"/>
						</label>
						<f:form.textfield property="lastName"/>

						<label>
							<f:translate key="booking.email" extensionName="Calendarize"/>
							*
							<f:render partial="FieldError" arguments="{field: 'request.email'}"/>
						</label>
						<f:form.textfield property="email"/>

						<label>
							<f:translate key="booking.phone" extensionName="Calendarize"/>
							<f:render partial="FieldError" arguments="{field: 'request.phone'}"/>
						</label>
						<f:form.textfield property="phone"/>

						<label>
							<f:translate key="booking.street" extensionName="Calendarize"/>
							*
							<f:render partial="FieldError" arguments="{field: 'request.street'}"/>
						</label>
						<f:form.textfield property="street"/>

						<label>
							<f:translate key="booking.houseNumber" extensionName="Calendarize"/>
							*
							<f:render partial="FieldError" arguments="{field: 'request.houseNumber'}"/>
						</label>
						<f:form.textfield property="houseNumber"/>

						<label>
							<f:translate key="booking.zip" extensionName="Calendarize"/>
							*
							<f:render partial="FieldError" arguments="{field: 'request.zip'}"/>
						</label>
						<f:form.textfield property="zip"/>

						<label>
							<f:translate key="booking.city" extensionName="Calendarize"/>
							*
							<f:render partial="FieldError" arguments="{field: 'request.city'}"/>
						</label>
						<f:form.textfield property="city"/>

						<label>
							<f:translate key="booking.country" extensionName="Calendarize"/>
							*
							<f:render partial="FieldError" arguments="{field: 'request.country'}"/>
						</label>
						<f:if condition="{countries -> f:count()}">
							<f:then>
								<f:form.select property="country" options="{countries}" optionValueField="nameLocalized"
															 optionLabelField="nameLocalized" sortByOptionLabel="1"
															 prependOptionLabel="{f:translate(key: 'pleaseSelect', extensionName: 'Calendarize')}"
															 prependOptionValue=""/>
							</f:then>
							<f:else>
								<f:form.textfield property="country"/>
							</f:else>
						</f:if>

						<label>
							<f:translate key="booking.message" extensionName="Calendarize"/>
							<f:render partial="FieldError" arguments="{field: 'request.message'}"/>
						</label>
						<f:form.textarea property="message"/>

						<f:form.submit value="{f:translate(key: 'booking.send', extensionName: 'Calendarize')}"/>
					</fieldset>
				</f:form>
			</f:then>
			<f:else>
				Please select the booking page in the plugin configuration of your calendarize Booking plugin
			</f:else>
		</f:if>
	</f:section>
</div>


